.start-container {
    margin: 0;
    height: 100vh;
    text-align: center;
    padding-top: 12%;
    background-image: url('../images/start-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    font-size: 2vw;
    background-color: rgb(46, 29, 196);
}
.start-name {
    color: rgb(238, 34, 170);
}
.start-button {
    width: 250px;
    padding: 15px;
    background-color: rgb(17, 160, 60);
    color: #ffffff;
    font-size: 18px;
}
.content-container {
    padding-top: 50px;
}
.heading {
    font-size: xx-large;
    text-align: center;
    text-decoration: 5px underline rgb(173, 34, 238);
}
.content-div {
    background-color: #f5f5f5;
    border-radius: 25px;
    margin: 50px;
    padding: 40px; 
    font-size: large;
}
.div-flex {
    display: flex;
    justify-content: space-evenly;
}
.div-flexItem {
    width: 30%;
    margin: 20px;
    border-radius: 25px;
    border: 2px solid silver;
}
.div-flexItem:hover {
    background-color: silver;
}


.div-flexTitle {
    text-align: center;
}
.nav-container {
    position: sticky;
    top: 0;
}
.navbar {
    height: 35px;
    background-color: #222222;
    padding-top: 15px;
    padding-right: 15px;
    font-size: large;
    text-align: right;
}
.navbar a {
    color: #aaaaaa;
    margin-left: 20px;
}
.navbar a:hover {
    color: #ffffff;
}
.h1-style {
    font-size: xx-large;
    color:rgb(173, 34, 238)
}
.div-heading {
    padding-top: 30px;
    font-size: x-large;
    text-align: center;
}
.icon {
    width: 40px;
}
.center {
    text-align: center;
}
.blue {
    color: rgb(46, 29, 196);
}
.footer {
    height: 100px;
    background-color: #222222;
    padding-top: 15px;
    padding-right: 15px;
    font-size: large;
    color: #ffffff;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .start-container {
        margin: 0;
        height: 80vh;
        text-align: center;
        padding-top: 12%;
        background-image: url('../images/start-bg.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: #ffffff;
        font-size: 3vw;
        background-color: rgb(46, 29, 196);
    }
    .div-flex {
        display: block;
    }
    .div-flexItem {
        width: 85%;
    }
    .navbar {
        text-align: center;
        height: 110px;
    }
    .navbar a {
        display: block;
        background-color: #555555;
        margin-bottom: 5px;
    }
}